h1, h3, ul{
  font-family: REM;
  text-align: center;
}

a {
  text-decoration: none;
}

p {
  font-family: REM;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.gambar-rio {
  display: block;
  margin: auto;
  width: 20%;
  border-radius: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.uni-button {
  display: block;
  background-color: white;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 20px;
  border: 2px solid rgb(10,102,194);
  padding: 10px 11px;
  font-weight: bold;
  font-size: medium;
  cursor: pointer;
  transition: 0.15s;
 
}
.linkedin-button {
  display: block;
  background-color: white;
  margin: auto;
  border-radius: 20px;
  border: 2px solid rgb(10,102,194);
  padding: 10px 20px;
  font-weight: bold;
  font-size: medium;
  cursor: pointer;
  transition: 0.15s;
}

.uni-button:hover {
  background-color:rgb(10,102,194) ;
  color: white;
}

.linkedin-button:hover {
  background-color:rgb(10,102,194) ;
  color: white;
}

.ul {
  display: inline-block;
  font-weight: bold;
  font-size: 17px;
  text-align: left;
}

.biodata{
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.3) ;
  width: 400px;
  margin: auto;
  padding: 10px 3px;
  border-radius: 20px ;
  margin-top: 60px;
  margin-bottom: 60px;
  box-sizing: border-box;
}

.campus{
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.3) ;
  width: 400px;
  margin: auto;
  padding: 20px;
  border-radius: 20px ;
  margin-bottom: 50px;
  box-sizing: border-box;
}

.campus img{
  width: 50%;
  margin: auto;
  display: block;
  padding-bottom: 10px;
}

.unique {
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.3) ;
  width: 400px;
  margin: auto;
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 20px;
  box-sizing: border-box;
}